@import '@styles/mixins.module.scss';
@import '@styles/variables.module.scss';

.container {
    @include flex_box_custom(center, center, 0px);

    background-image: url(../../../src/assets/images/Banner.jpeg);
    min-height: 750px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.content {
    @include flex_box_custom(center, center, 10px);

    flex-direction: column;
}
.title {
    font-size: 42px;
    color: $four_color;
    font-weight: 400;
}

.des {
    color: $thr_color;
    font-weight: 400;
    margin-bottom: 25px;
    font-size: 16px;
    line-height: 25px;
}

.button {
    color: $white_color;
}
.btn {
    width: 172px;
    margin: 30px auto;
}
